.pagination-circle{
    height: 10px;
    width: 10px;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-active-page{
    background-color: rgb(0, 132, 255);
    cursor: pointer;
    color: white;
}
.pagination-circle:hover{
    background-color: rgb(0, 132, 255);
    cursor: pointer;
    color: white;
}
.pagination-container{
    display: flex;
    justify-content: space-evenly   ;
    width: 100vw;
    gap: 1px;
}